<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Network</title>
        <link rel="stylesheet" href="index.css">
        <script>
            var wsPort = <%= wsPort %>;
        </script>
        <script type="text/javascript" src="display.js" async></script>
        <script src="spline.js"></script>
        <script src="station.js"></script>
        <script src="point.js"></script>
    </head>
    <body>
        <canvas id="myCanvas" width="800" height="600"></canvas>
    </body>
</html>